
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #fdfdfd;
    color:#656565
}

.skip-link{
        position: absolute;
        top: -40px;
        left: 0;
        background-color: #bf1722;
        color: white;
        padding: 8px;
        z-index: 100;
}

.skip-link:focus {
    top: 0;
 }
img {
    display: block;
} 

.hidden {
    display: none;
}

.material-icons.md-18 { font-size: 18px; margin: 0 3px;}
.material-icons.md-24 { font-size: 24px; margin: 0 3px;}
.material-icons.md-36 { font-size: 36px; margin: 0 3px;}
.material-icons.md-48 { font-size: 48px; margin: 0 3px;}

.main-content{
    width: 100%;  
    margin: auto;  
}
h2{
    text-align: center;
    margin: 20px;
    font-size: 28px;
    color:#333;
}

footer {
    background-color:#654062;
    color: #fefefe;
    text-align: center;
    padding: 20px;
}


